In [1]:
# This Python 3 environment comes with many helpful analytics libraries installed
# It is defined by the kaggle/python Docker image: https://github.com/kaggle/docker-python
# For example, here's several helpful packages to load

import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)

# Input data files are available in the read-only "../input/" directory
# For example, running this (by clicking run or pressing Shift+Enter) will list all files under the input directory
# 単純に3つのcsvファイルが使えますよーって言ってるだけ
import os
for dirname, _, filenames in os.walk('/kaggle/input'):
    for filename in filenames:
        print(os.path.join(dirname, filename))

# You can write up to 20GB to the current directory (/kaggle/working/) that gets preserved as output when you create a version using "Save & Run All" 
# You can also write temporary files to /kaggle/temp/, but they won't be saved outside of the current session

/kaggle/input/titanic/train.csv
/kaggle/input/titanic/test.csv
/kaggle/input/titanic/gender_submission.csv

In [2]:
train_df = pd.read_csv('../input/titanic/train.csv')
test_df = pd.read_csv('../input/titanic/test.csv')

In [3]:
train_df

/usr/local/lib/python3.11/dist-packages/pandas/io/formats/format.py:1458: RuntimeWarning: invalid value encountered in greater
  has_large_values = (abs_vals > 1e6).any()
/usr/local/lib/python3.11/dist-packages/pandas/io/formats/format.py:1459: RuntimeWarning: invalid value encountered in less
  has_small_values = ((abs_vals < 10 ** (-self.digits)) & (abs_vals > 0)).any()
/usr/local/lib/python3.11/dist-packages/pandas/io/formats/format.py:1459: RuntimeWarning: invalid value encountered in greater
  has_small_values = ((abs_vals < 10 ** (-self.digits)) & (abs_vals > 0)).any()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S
...,...,...,...,...,...,...,...,...,...,...,...,...
886,887,0,2,"Montvila, Rev. Juozas",male,27.0,0,0,211536,13.0000,NaN,S
887,888,1,1,"Graham, Miss. Margaret Edith",female,19.0,0,0,112053,30.0000,B42,S
888,889,0,3,"Johnston, Miss. Catherine Helen ""Carrie""",female,NaN,1,2,W./C. 6607,23.4500,NaN,S
889,890,1,1,"Behr, Mr. Karl Howell",male,26.0,0,0,111369,30.0000,C148,C
890,891,0,3,"Dooley, Mr. Patrick",male,32.0,0,0,370376,7.7500,NaN,Q

In [4]:
train_df.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [5]:
test_df.head()

,PassengerId,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,892,3,"Kelly, Mr. James",male,34.5,0,0,330911,7.8292,NaN,Q
1,893,3,"Wilkes, Mrs. James (Ellen Needs)",female,47.0,1,0,363272,7.0000,NaN,S
2,894,2,"Myles, Mr. Thomas Francis",male,62.0,0,0,240276,9.6875,NaN,Q
3,895,3,"Wirz, Mr. Albert",male,27.0,0,0,315154,8.6625,NaN,S
4,896,3,"Hirvonen, Mrs. Alexander (Helga E Lindqvist)",female,22.0,1,1,3101298,12.2875,NaN,S

In [6]:
teain_df.head()

NameError: name 'teain_df' is not defined

In [ ]:
train_df.head()

In [ ]:
train_df.info()

In [ ]:
#cabinすっごい欠損値多いし、客室番号はそんな重要じゃなさそうだからとりあえずtrain,test両方から消しとくわ
train_df.drop('Cabin', axis=1, inplace=True)
test_df.drop('Cabin', axis=1, inplace=True)

In [ ]:
train_df.head()

In [ ]:
#cabinと同じくpassengerIDいらなそうなんでカラム消去
train_df.drop('PassengerId', axis=1, inplace=True)

In [ ]:
#testデータからも消去
test_df.drop('PassengerId', axis=1, inplace=True)

In [ ]:
train_df.head()

In [ ]:
train_df.describe()

In [ ]:
train_df.isnull().sum()

In [ ]:
train_df['Embarked'].value_counts()

In [ ]:
#まず欠損値が２つあるEmbarkedの行を消したい
train_df.dropna(subset=['Embarked'], inplace=True)

In [ ]:
train_df.head()

In [ ]:
#年齢と金持ち度は相関がありそうなのでgroupbyメソッドによって欠損値を客室クラスごとの平均値に置き換える
train_df['Age'] = train_df.groupby('Pclass')['Age'].transform(lambda x: x.fillna(x.median()))

In [ ]:
train_df.isnull().sum()

In [ ]:
#SibspとParchと本人の人数を合わせて乗船した家族の人数をFamilySizeとして新しい特徴量を作る
train_df['FamilySize'] = train_df['SibSp'] + train_df['Parch'] + 1

In [ ]:
train_df.head(
)

In [ ]:
# 複数カラムを削除
# 不必要になったSibspとParch
train_df.drop(['SibSp', 'Parch'], axis=1, inplace=True)

In [ ]:
train_df.head()

In [ ]:
train_df.drop(['Ticket'], axis=1, inplace=True)

In [ ]:
train_df.head()

In [ ]:
train_df.head()

In [ ]:
train_df.head()

In [ ]:
train_df['Title'] = train_df['Name'].str.extract(' ([A-Za-z]+)\.', expand=True)

In [ ]:
train_df.head()

In [ ]:
train_df['Title'] = train_df['Name'].str.extract(' ([A-Za-z]+)\.', expand=False)

In [ ]:
train_df.head()

In [ ]:
train_df['Title'].value_counts()

In [ ]:
wealthy_titles = ["Dr", "Rev", "Major", "Col", "Capt", "Sir", "Lady", "Countess", "Don", "Jonkheer"]
train_df['Title'] = train_df['Title'].replace(wealthy_titles, "wealthy")

In [ ]:
train_df['Title'].value_counts()

In [ ]:
allowed_titles = ["Mr", "Mrs", "Miss", "Master", "wealthy"]
train_df = train_df[train_df['Title'].isin(allowed_titles)]

In [ ]:
train_df['Title'].value_counts()

In [ ]:
train_df.head()

In [ ]:
train_df.head()

In [ ]:
train_df=train_df.drop("Name",axis=1)

In [ ]:
train_df.head()

In [ ]:
#mapメソッドによりmaleを０に、femaleを１に変換する
train_df['Sex'] = train_df['Sex'].map({'male': 0, 'female': 1})

In [ ]:
train_df.head()

In [ ]:
train_df = train_df.drop("Cabin", axis=1)
test_df = test_df.drop("Cabin", axis=1)

In [ ]:
train_df.head()

In [ ]:
train_df["Title"].value_counts()

In [ ]:
#one-hot encordingでEmbarkedとTitleをエンコーディングする
train_df=pd.get_dummies(train_df[['Embarked', 'Title']], drop_first=True)

In [ ]:
train_df.head()

In [ ]:
train_df = pd.get_dummies(train_df, columns=['Embarked', 'Title'], drop_first=True)

train_df.head()

In [ ]:
train_df = pd.read_csv("/kaggle/input/titanic/train.csv")
test_df = pd.read_csv("/kaggle/input/titanic/test.csv")

In [ ]:
train_df.head()

In [ ]:
train_df.isnull().sum()

In [ ]:
test_df.isnull().sum()

In [ ]:
#trainとtestともにcabinの欠損値が多いのでcabinのカラムごと消す
train_df = train_df.drop(columns=["Cabin"])
test_df = test_df.drop(columns=["Cabin"])

In [ ]:
新たに#前処理としてやらないといけないこと

#train,testともにageのカラムを中央値で埋める

#trainではembarked２行,testではfare１行が欠損してる。testはすべての行に対しての予測が必要となるから
#testの１行は中央値かなんかで埋めて、train用は２行を消そうと思う
#ただこの時中央値は全体の中央値ではなくてpclassが同じ乗客の中央値をとろうと思う

#passengerID,Ticketのカラムも必要なさそうだからtrain,testともにカラムごと消す

#年齢と金持ち度は相関がありそうなのでgroupbyメソッドによりAgeの欠損値を客室クラスごとの中央値をとる

#SibspとParchと本人の人数を合わせて乗船した家族の人数をfamilySizeとして新しい特徴量を作る
#SibspとParchは不必要になったのでカラムを消す

#Nameカラムから略称を取り出して新たにtitleカラムを作成する
#Dr,Revなど金持ちの略称を取り出してwealthy_titleカラムに入れ、ここに入ってない略称を削除する
#Nameカラムを消す

#mapメソッドによりmaleを０に、femaleを１にエンコーディングする

#title,embarkedカラムをone-hot encordingする

In [ ]:
#関数に含める操作とその順番